.ide
.idea
.vscode
.tools
sftp-config.json

# macOS
.DS_Store

/temp/config.yml
/temp/.env
/temp/.env.*
config/.env
/build
/tmp
/vendor
/tests/*.txt
/tests/*.html
/bin
config.yml

/cache
.cache
/data
.data

/storage
/upload

/logs/*.jsonl
